# Maven
target/
!target/allure-results/

# Allure report directory
.allure/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Mac OS
.DS_Store

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# Maven wrapper JAR
!.mvn/wrapper/maven-wrapper.jar
